@font-face {
	font-family: "iconfont";
	src: url('../fonts/iconfont.ttf') format('truetype');
	/* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
	content: "\e698";
}

.icon-favorite:before {
	content: "\e6a0";
}

.icon-account:before {
	content: "\e6b8";
}

.icon-downbutton:before {
	content: "\e609";
}

.icon-upbutton:before {
	content: "\e60a";
}

.icon-map:before {
	content: "\e715";
}

.icon-zhifubao:before {
	content: "\e67c";
}

.icon-check:before {
	content: "\e608";
}

.icon-iconfontdianpu:before {
	content: "\e640";
}

.icon-wuyebaoxiu:before {
	content: "\e6b0";
}

.icon-gengduo:before {
	content: "\e602";
}

.icon-checkedon:before {
	content: "\e612";
}

.icon-daishouhuo:before {
	content: "\e651";
}

.icon-shuaxin:before {
	content: "\e625";
}

.icon-checknormal:before {
	content: "\e68a";
}

.icon-xihuan-copy:before {
	content: "\e603";
}

.icon-liuyan:before {
	content: "\e69f";
}

.icon-dianpu4:before {
	content: "\e6ab";
}

.icon-pingjia:before {
	content: "\e670";
}

.icon-yuyue:before {
	content: "\e679";
}

.icon-qian1:before {
	content: "\e6af";
}

.icon-dianpu:before {
	content: "\e618";
}

.icon-liulanjilu:before {
	content: "\e636";
}

.icon-yiwancheng:before {
	content: "\e66f";
}

.icon-guanzhu:before {
	content: "\e62d";
}

.icon-shouhou:before {
	content: "\e637";
}

.icon-guanzhudianpu:before {
	content: "\e93f";
}

.icon-daipingjia1:before {
	content: "\e641";
}

.icon-pay-wechat:before {
	content: "\e645";
}

.icon-xialaanniu:before {
	content: "\e661";
}

.icon-shoucang:before {
	content: "\e600";
}

.icon-rexiao:before {
	content: "\e605";
}

.icon-daifahuo-:before {
	content: "\e61c";
}

.icon-daifukuan2:before {
	content: "\e604";
}

.icon-daishouhuo1:before {
	content: "\e6d0";
}